In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"spam.csv",encoding="latin-1")

In [3]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
df.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"],inplace=True,axis=1)

In [5]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df["v1"].replace({"ham":1,"spam":0},inplace=True)

In [7]:
df

      v1                                                 v2
0      1  Go until jurong point, crazy.. Available only ...
1      1                      Ok lar... Joking wif u oni...
2      0  Free entry in 2 a wkly comp to win FA Cup fina...
3      1  U dun say so early hor... U c already then say...
4      1  Nah I don't think he goes to usf, he lives aro...
...   ..                                                ...
5567   0  This is the 2nd time we have tried 2 contact u...
5568   1              Will Ì_ b going to esplanade fr home?
5569   1  Pity, * was in mood for that. So...any other s...
5570   1  The guy did some bitching but I acted like i'd...
5571   1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [8]:
df.shape

(5572, 2)

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.shape

(5169, 2)

In [11]:
df.isnull().sum()

v1    0
v2    0
dtype: int64

# Using CountVectorizer class to split each word and treat them separately

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

In [13]:
cv=CountVectorizer()

In [14]:
y=df["v1"]

In [15]:
x=df["v2"]

In [16]:
x=cv.fit_transform(x)

# Splitting Data into Train and Test

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [19]:
x_train.shape

(4135, 8672)

In [20]:
x_test.shape

(1034, 8672)

In [21]:
y_train.shape

(4135,)

In [22]:
y_test.shape

(1034,)

# Train Model using NaiveBayes

In [23]:
from sklearn.naive_bayes import MultinomialNB

In [24]:
model=MultinomialNB()

In [25]:
model.fit(x_train,y_train)

MultinomialNB()

In [26]:
model.score(x_test,y_test)

0.9777562862669246

# Now will check on some text whether show it spam or ham

In [35]:
example=["I will give you scheme on laptop for government"]

In [36]:
example=cv.transform(example)

In [37]:
prediction=model.predict(example)

In [38]:
prediction

array([1], dtype=int64)